
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

#preact-container {
    position: relative;
}

#preact-root {
    position: absolute;
    /* transition: all 0.1s linear; */
    display: none;
    background-color: rgb(255, 251, 244);
    border-radius: 0.5em;
    box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#highlight-root {
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
}

.top {
    width: 100%;
    height: 100%;
}

.top-scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.highlighter {
    background-color: rgb(250, 238, 65);
    border-radius: 50% 20% / 10% 40%;
    z-index: 1;
}

.radical-list {
    padding-bottom: 0.2em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.radical {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.4em;
}

.radical-image {
    width: 1.5em;
    opacity: 0.7;
}

.radical-text {
    font-size: 0.6em;
    opacity: 0.7;
}

.hint-container {
    padding: 0.5em;
}

.hint-selected {
    background-color: rgb(241, 231, 213);
}

.hint-title {
    font-size: 1.5em;
}

.hint-gloss {
    color: #333;
}

.hint-conjugation {
    color: #777;
    font-style: italic;
    font-size: 0.8em;
}

.hint-label {
    color: #000;
    font-size: 0.7em;
}

.hint-text {
    color: #333;
}

.translation {
    font-size: 1.5em;
    padding: 0.5em;
    color: #333;
}

.wk-container {
    padding-top: 0.5em;
}

.wk-span {
    font-size: 0.7em;
    color: #333;
}

.wk-tag-radical {
    background-color: rgb(145, 171, 206);
    border-radius: 10%;
}

.wk-tag-kanji {
    background-color: rgb(226, 185, 161);
    border-radius: 10%;
}

.wk-tag-vocabulary {
    background-color: rgb(226, 161, 201);
    border-radius: 10%;
}

.wk-tag-meaning {
    background-color: rgb(171, 221, 179);
    border-radius: 10%;
}

.wk-tag-reading {
    background-color: rgb(219, 226, 161);
    border-radius: 10%;
}

#image-frame {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
}
